In [3]:
import pandas as pd

In [4]:
 df = pd.read_csv('adult.data.csv')

In [20]:
df.shape

(32561, 15)

In [9]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [14]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# What is the average age of men?

In [17]:
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(),1)
average_age_men

np.float64(39.4)

# What is the percentage of people who have a Bachelor's degree?

In [25]:
round((df['education'] == 'Bachelors').sum()/df.shape[0]*100,1)

np.float64(16.4)

In [35]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education.sum()

np.int64(25070)

In [38]:
# percentage with salary >50K
higher_education_rich =  round((df[higher_education]['salary'] == '>50K').sum()/higher_education.sum()*100,1)
lower_education_rich = round((df[lower_education]['salary'] == '>50K').sum()/lower_education.sum()*100,1)
print(higher_education_rich)
print(lower_education_rich)

46.5
17.4

In [40]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

np.int64(1)

In [43]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers =  df[df['hours-per-week'] == min_work_hours]
num_min_workers
(df['hours-per-week'] == min_work_hours).sum()

np.int64(20)

In [54]:
rich_percentage = round((num_min_workers['salary'] == '>50K').sum()/len(num_min_workers)*100,1)
rich_percentage

np.float64(10.0)

In [60]:
# What country has the highest percentage of people that earn >50K?
# 1. Calculate the number of people earning >50K per country
country_50K = df[df['salary'] == '>50K']['native-country'].value_counts()
country_50K

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Cuba                    25
Italy                   25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Ecuador                  4
Haiti                    4
Scotland                 3
Guatemala                3
Thailand                 3
Hungary                  3
Columbia                 2
Peru                     2
Dominican-Republic       2
Trinadad&Tobago          2
Nicaragua                2
Laos                     2
Honduras                 1
Name: count, dtype: int64

In [61]:
# 2. Calculate the total number of people per country
country_total = df['native-country'].value_counts()
country_total

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [62]:
# 3. Calculate the percentage of people earning >50K per country
country_percentage_50K = (country_50K / country_total) * 100

country_percentage_50K

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: count, dtype: float64

In [63]:
# 4. Identify the country with the highest percentage of people earning >50K
highest_earning_country = country_percentage_50K.idxmax()
highest_earning_country

'Iran'

In [66]:
highest_earning_country_percentage = round(country_percentage_50K.max(),1)
highest_earning_country_percentage

np.float64(41.9)

In [71]:
# Identify the most popular occupation for those who earn >50K in India.
india_rich=df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

In [82]:
india_rich_occu= india_rich['occupation'].value_counts()
top_IN_occupation = india_rich_occu.idxmax()
top_IN_occupation

'Prof-specialty'